// Esconder texto
///
x-text-hide()
  font-size: 0
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0
  
// Clearfix
///
x-clearfix()
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both
    
// Opacity
///
opacity($opacity)
  opacity: $opacity
  // IE8 filter
  $opacity-ie = $opacity * 100
  filter: alpha(opacity = $opacity-ie)
  
// REM Fallback
///
x-rem-fallback($property)
  // html {font-size: 62.5%;}
  $max = length($values)
  $pxValues = ""
  $remValues = ""
  for $i in (1)..($max)
    $value = x-strip-unit(unit($values, $i))
    $pxValues = #{$pxValues + $value * 10}px
    if $i < $max
      $pxValues = #{$pxValues + " "}
  for $i in (1)..($max)
    $value = strip-unit(unit($values, $i))
    $remValues = #{$remValues + $value}rem
    if $i < $max
      $remValues = #{$remValues + " "}
  {(interpolation nil $property nil)}: $pxValues
  {(interpolation nil $property nil)}: $remValues
  
// Keyframes
///
x-keyframes($animationName)
  @-webkit-keyframes
    $browser = "-webkit-"
    {block}
  @-moz-keyframes
    $browser = "-moz-"
    {block}
  @-o-keyframes
    $browser = "-o-"
    {block}
  @-ms-keyframes
    $browser = "-ms-"
    {block}
  @keyframes
    $browser = ""
    {block}
$browser = null

/// Mixin to prefix a property
///
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
///
x-prefix($property, $value, $prefixes = webkit moz o ms)
  for $prefix in $prefixes
    {(interpolation nil (:plus (:plus (:plus "-" $prefix) "-") $property) nil)}: $value
  // Output standard non-prefixed declaration
  {(interpolation nil $property nil)}: $value
  
// Transition
///
x-transition()
  $transitions = ()
  for $declaration in $values
    $prop = unit($declaration, 1)
    $prop-opts = ()
    $length = length($declaration)
    for $i in (2)..($length)
      $prop-opts = push($prop-opts, nth($declaration, $i))
    $trans = $prop, $prop-opts
    $transitions = push($transitions, $trans, comma)
  -webkit-transition: x-trans-prefix($transitions, webkit)
  -moz-transition: x-trans-prefix($transitions, moz)
  -o-transition: x-trans-prefix($transitions, o)
  -ms-transition: x-trans-prefix($transitions, ms)
  transition: $values
