// Icone
///
x-icon($name = "", $position = "left")
  if $position == "left"
    &:before
      @extend $fa
      @extend $#{$name}
      margin-right: 10px
  else if $position == "right"
    &:after
      @extend $fa
      @extend $#{$name}
      margin-left: 10px
