// Largura baseada no grid
///
/// @param {number} $columns
///
x-gridsystem-width($columns)
  $total-width / $total-columns * $columns
// Calculo do grid
///
/// @param {number} $colNumber
/// @param {number} $totalColumns
///
x-grid-calc($colNumber, $totalColumns)
  calc($colNumber / $totalColumns)
