// width based on grid
///
/// @param {number} columns
///
x-gridsystem-width(columns)
  total-width / total-columns * columns

// the grid calculation
///
/// @param {number} colNumber
/// @param {number} totalColumns
///
x-grid-calc(colNumber, totalColumns)
  colNumber / totalColumns
